<h1> Add New Pirate </h1>
<form method="POST" action = "/pirates">
  <div>
    <label for="name">Name: </label>
    <input type="text" name="name"></input>
    <br>
    <label for="birthplace">birthplace: </label>
    <input type="text" name="birthplace"></input>
    <br>
    <label for="death_year">death_year: </label>
    <input type="text" name="death_year"></input>
    <br>
    <label for="base">base: </label>
    <input type="text" name="base"></input>
    <br>
    <label for="nickname">nickname: </label>
    <input type="text" name="nickname"></input>
  </div>
  <button>Submit Pirate</button>
</form>
<a hrefr="/pirates"> Go back </a>
