<h1>Make a New Todo </h1>
<div name=form>
<form method="POST" action="/todos">
  <label for="description"> Description: </label>
  <input name="description"></input>
<br>
  <label for="urgent">Urgent: </label>
  <span>Yes</span><input type="radio" name="urgent" value="true" checked>
  <span>No</span><input type="radio" name="urgent" value="false">
<br>
  <button>Submit</button>
</form>
</div>
<br><br>
<a href="/todos"> Go back </a>
<img src="https://media.giphy.com/media/UTVAkZiSd0Mda/giphy.gif">
