<main>
	<h2>Handmade, Fresh, Daily!</h2>

		{{#each donuts}}

			<div class="donut-container">

				<img src="{{this.img}}">

				<h3>   <a href="/donuts/{{this._id}}">Show {{this.name}} </a>  </h3>

				<p>$ {{this.price}} each </p>

			</div>

{{/each}}


</main>
